:root{
    --primary-color: #E2C29F;
    --secondry-color: #F4F4F4;
    --new-things-color: #F53732;
    --new-memories-color: #050544;
    --video-background-color: transparent linear-gradient(180deg, #0505441A 0%, #050544 100%) 0% 0% no-repeat padding-box;
    --body-background-color: transparent linear-gradient(180deg, #050544 0%, #382598 43%, #050544 100%) 0% 0% no-repeat padding-box
}
@font-face{
    font-family:geomanist-regular;
    src:url(../fonts/geomanist-regular-webfont.ttf)
}
@font-face{
    font-family:geomanist-light;
    src:url(../fonts/geomanist-extralight-italic-webfont.ttf)
}@font-face{font-family:geomanist-bold;src:url(../fonts/geomanist-bold-webfont.ttf)
}
@font-face{
    font-family:Ogg;
    src:url(../fonts/Ogg-Regular.ttf)
}
body{
    background:var(--body-background-color)
}
html,body{
    overflow-x:hidden!important
}
#lottie{
    width:100%;
    height:100%;
    display:block;
    overflow:hidden;
    z-index:99999999;
    transform:translateX(500);
    transform:translate3d(0,0,0);
    text-align:center;opacity:1
}
#lottie svg{
    padding-bottom:1250px
}
.font-12{
    font-size:.75em
}
.font-13{
    font-size:.8em
}
.font-18{
    font-size:1.25em
}
.font-26{
    font-size:1.8em
}
.font-50{
    font-size:3.125em
}
.font-60{
    font-size:3em
}
.font-100{
    font-size:6em
}
.text-off-white{
    color:var(--secondry-color)
}
.text-pink{
    color:var(--primary-color)
}
.geomanist-regular{
    font-family:geomanist-regular
}
.geomanist-bold{
    font-family:geomanist-bold;
    font-weight:bolder
}
.ogg-regular{
    font-family:ogg;
    font-weight:400
}
.container-fluid video{
    position:relative;
    width:100%;
    object-fit:cover;
    height:700px;
    z-index:-100;
    overflow-y:hidden
}
.bg-video{
    background:var(--video-background-color)
}
.overlay{
    overflow:hidden!important;
    width:100%;
    top:0;
    z-index:1
}
.body-color{
    background:var(--body-background-color);
    padding-right:0!important
}
.menu-text{
    line-height:86px
}
.high-margin{
    margin-top:200px
}
.high-padding{
    padding-top:200px!important
}.new-memories{color:var(--new-memories-color)}
.test{
    position:relative
}
.test:after{
    content:"";
    display:inline-block;
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
    top:0;
    left:0;
    background:linear-gradient(to top,red 50%,transparent 50%);
    animation-name:highlight;
    animation-duration:.75s;
    animation-iteration-count:infinite;
    animation-direction:alternate
}
@keyframes highlight{
    0%{width:0;opacity:0}
    50%{width:100%;opacity:1}}
.new-things{
    color:var(--new-things-color)
}
.images-buttons{
    z-index:999
}
.images-buttons img{
    width:100px;
    transition:width ease-in-out .5s
}
.w-93{
    width:93px!important
}
.w-130{
    width:130px!important
}
.w-100-custom{
    width:100px!important
}
.active{
    width:150px!important;
    transition:width ease-in-out .5s
}
.text-active{
    display:block!important
}
.line-height{
    line-height:50px
}
.height-200{
    height:200px
}
.break{
    display:block;
    line-height:50px
}
.menu-item{
    position:fixed;
    width:1000px;
    height:1000px;
    background-color:#000
}
.fixed{
    position:fixed;
    top:250px;
    right:100px;
    height:100px;
    z-index:99999
}
.menu p{
    white-space:pre;
    margin-left:-20px
}
.splash{
    z-index:9999;
    background-color:#050543;
    position:fixed;
    padding-top:250px;
    width:100%;
    height:5000px
}
.splash img{
    width:250px
}
.overflow-y{
    overflow-y:hidden
}
.fall-3{
    top:700px;
    left:850px;
    z-index:99999;
    opacity:.5
}
.cursor-pointer{
    cursor:pointer
}
.z-index{
    z-index:999
}
.SmoothScroll{
    position:fixed;
    left:50%;
    transform:translateX(-50%)
}
.animation{
    width:100vw
}
.menu-titles a{
    text-decoration:none
}
.menu-titles{
    z-index:99999
}
.number{
    position:relative
}
.number .text-wrapper{
    position:relative;
    display:inline-block;
    overflow:hidden
}
.number .letter{
    display:inline-block;
    line-height:1em
}
@media(max-width:767px){
    .font-60{font-size:2em!important}
    .font-50{font-size:1.75em}
    .font-26{font-size:1.25em}
    .high-padding{padding-top:0}
    .break{display:block;line-height:50px}
    .container-fluid video{position:relative;width:100%;object-fit:cover;z-index:-100}
    .paragraph p{font-size:1em}
    .responsive{font-size:1.25em!important}
    .height-200{height:0!important}
    .images-buttons img{width:50px!important;transition:all ease-in-out .5s}
    .images-buttons img.active{transform:scale(1.5);transition:all ease-in-out .5s}
    .responsive-handle{min-height:250px!important}
@-webkit-keyframes spin{
    0%{margin-top:0}
    16%{margin-top:-160px}
    33%{margin-top:-320px}
    50%{margin-top:-480px}}
@keyframes spin{
    0%{margin-top:0}
    16%{margin-top:-160px}
    33%{margin-top:-320px}
    50%{margin-top:-480px}
}
}
.item-1,.item-2,.item-3{
    position:absolute;
    display:block;top:1.4em;
    width:100%;
    animation-duration:15s;
    animation-delay:2.5s;
    animation-timing-function:ease-in-out;
    animation-iteration-count:infinite
}
.item-1{
    animation-name:anim-1
}
.item-2{
    animation-name:anim-2
}
.item-3{
    animation-name:anim-3
}
@keyframes anim-1{
    0%,8.3%{bottom:-100%;opacity:0}
    8.3%,25%{bottom:35%;opacity:1}
    33.33%,100%{bottom:120%;opacity:0}
}
@keyframes anim-2{
    0%,33.33%{bottom:-100%;opacity:0}
    41.63%,58.29%{bottom:35%;opacity:1}
    66.66%,100%{bottom:120%;opacity:0}
}
@keyframes anim-3{
    0%,66.66%{bottom:-100%;opacity:0}
    74.96%,91.62%{bottom:35%;opacity:1}
    100%{bottom:120%;opacity:0}
}
.new-memories.active{
    position:relative
}
.new-memories.active:after,.new-stories.active:after,.new-things.active:after{
    animation-name:highlight;
    animation-duration:2.5s;
    animation-iteration-count:1;
    animation-direction:alternate
}
.new-memories:after,.new-stories:after,.new-things:after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
    top:0;
    left:0
}
.new-memories,.new-stories,.new-things{
    font-weight:500
}
.new-memories.active:after{
    background:#f7a1c2
}
.new-stories.active:after{
    background-color:#4125cf
}
.new-things.active:after{
    background-color:#f9d7ce
}
@keyframes highlight{
    0%{width:0;opacity:0}
    50%{width:100%;opacity:1}
}
@media(max-width:772px){
    .logo{width:90px}
    .menu-text{line-height:50px}
    .font-100{font-size:3em}
    .h1.sm,.h4-sm{font-size:1.25em!important}
    .line-height{line-height:normal}
    .h-400{height:725px!important}
    .contact{width:120px}
    .fs-8{font-size:.8em}
    .position-sm-custom{position:relative;top:5px}
    .images-buttons img.w-130{width:65px!important}
    .lh-90{line-height:52px!important}
    .fs-sm-2{font-size:2em!important}
    .font-sm-15{font-size:1.15em!important}
    .font-sm-10{font-size:1.1em!important}
}
.h-400{
    height:663px
}
.z-index-99999{
    z-index:99999
}
.text-decoration-none{
    text-decoration:none!important
}
.pointer{
    cursor:pointer
}
.opacity-7{
    opacity:.7
}
.lh-90{
    line-height:90px
}
.w-80{
    width:80px!important
}
.menu-custom-position{
    position:relative;right:24px
}
.z-index-99999{
    z-index:99999999
}
.blob{
    transform:scale(1);
    animation:pulse 1s infinite
}
@keyframes pulse{
    0%{transform:scale(1)}
    50%{transform:scale(.95)}
    100%{transform:scale(1)}
}